<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.example.mapper.UserMapper" >

  <select id="selectByPrimaryKey" resultType="User" >
    select `id` ,`name` ,`password` ,`age`  from user where  `id` = #{id}
  </select>
  
  <select id="search" resultType="User">
    select `id` ,`name` ,`password` ,`age`  from user
  </select>
  
  <insert id="insert" parameterType="User" useGeneratedKeys="true" >
    insert into user (`id` ,`name` ,`password` ,`age` ) values (#{id},#{name},#{password},#{age})
  </insert>
  
  <delete id="deleteByPrimaryKey">
    delete from user where  `id` = #{id}
  </delete>
  
  <update id="updateByPrimaryKey" parameterType="User" >
    update user set `name` = #{name},`password` = #{password},`age` = #{age} where  `id` = #{id}
  </update>
  
</mapper>